
.main-container {
  max-width: 1340px;
}

.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type__switcher__field {
   height: 20rem;


}
/* turn off field number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card-deck .card {
    max-width: 300px;
}
